@import "../../variables";

.secondary {
  background: $purple-main;
  margin: 0 10px;
  color: white;
  text-shadow: 1px 1px 1px $purple-border;
  border: 2px solid $purple-main;
}

.secondary:hover {
  border-color: white;
}

.outline-secondary {
  margin: 0 10px;
  border: 2px solid white;
  background: inherit;
  color: white;
}

.outline-secondary:hover {
  color: $purple-main;
  transition: color 0.25s;
}

.outline-secondary.on-modal{
  color: #535bf2;
  border-color: #535bf2;
}

.outline-secondary.on-modal:hover {
  color: #fff;
  border-color: #fff;
}