@import "../variables";

.footer {
  background-color: $footer-brd;
  color: $footer-date;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-white {
  font-family: 'Pacifico', cursive;
  margin: 0 10px;
}
