.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-frame {
  position: fixed;
  --width: 600px;
  width: var(--width);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(196, 194, 194);
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
}

.modal-close {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.modal-close:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #242424;
  top: 0;
  right: 0;
  rotate: 45deg;
}

.modal-close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #242424;
  top: 0;
  right: 0;
  rotate: -45deg;
}

.modal-close:hover {
  cursor: pointer;
}

.modal-header {
  margin: 0;
  padding: 0;
  min-height: 30px;
}

.modal-image {
  width: 200px;
  height: auto;
}